@import url("fonts/fonts.css");
:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bubbles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

.app-container {
  text-align: center;
  margin-top: 25px;
  background-color: transparent;
}

.heading {
  font-family: Pixel;
  font-size: 4.0em;
  line-height: 0.4;
}

.github-link {
  font-family: sans-serif;
  color: #646cff;
  text-decoration: none;
  font-size: 50px;
  margin-right: 10px; 
}

.github-link:last-child {
  margin-right: 0; 
}

.github-link:hover {
  color: #535bf2;
}

.profile-picture img {
  width: 75px; 
  height: 75px;
  border-radius: 50%;
  object-fit: cover;

}

.cards-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  gap: 20px;
}

.card {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.card-content {
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}

.bio-text {
    font-family: Pixel;
    font-size: 1.5em;

}